# Python
__pycache__/
*.py[cod]
venv/

# NodeJS
node_modules
npm-debug.log

# React
portfolio_frontend/node_modules/
# portfolio_frontend/build

# Database
*.sqlite3
*.sql

# IDE
.vscode/
.idea/

# Other
.cache
.DS_Store
*.env
.iso
notes.txt