# Python
__pycache__/
*.py[cod]
venv/
backend/static/

# NodeJS
node_modules
npm-debug.log

# React
frontend/node_modules/

# Database
*.sqlite3
*.sql

# IDE
.vscode/
.idea/

# Other
.cache
.DS_Store
secret.env
.iso