# Python
__pycache__/
*.py[cod]
venv/
portfolio_backend/static_files/

# NodeJS
node_modules
npm-debug.log
portfolio_frontend/build/

# React
portfolio_frontend/node_modules/

# Database
*.sqlite3
*.sql

# IDE
.vscode/
.idea/

# Other
.cache
.DS_Store
*.env
.iso
notes.txt