{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
        <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}?v={{ system_configuration.website_version }}" />

        <!-- Title -->
        <title>{{ page_title }}</title>

        <!-- SEO -->
        <meta name="author" content="Scott Zehner" />
        <meta name="description" content="Dedicated developer, project leader, and creative producer. Well versed in web application development, UX/UI design, conferencing, streaming, and audio-visual engineering. Contributed to thousands of successful projects." />
        <meta name="keywords" content="Portfolio, Resume, Developer, Audio-Visual, Producer" />
        <meta name="robots" content="index, nofollow" />

        <!-- Social Media -->
        <meta property="og:title" content="Portfolio" />
        <meta property="og:description" content="Dedicated developer, project leader, and creative producer. Well versed in application development, content creation, streaming, and audio-visual engineering." />
        <meta property="og:image" content="{% static 'images/me/profile_square_alt_high.jpg' %}?v={{ system_configuration.website_version }}" />
        <meta property="og:url" content="https://scottzehner.com/portfolio" />
        
        <!-- CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins" />
        <link rel="stylesheet" href="{% static 'styles/main.'|add:system_configuration.website_version|add:'.css' %}">

      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-SVPTZEN2DM"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-SVPTZEN2DM');
      </script>
    </head>
    <body>
      <!-- REACT ROOT -->
      <div id="root"></div>
      
      <!-- JS -->
      <script>
        // Base.html
        const systemData = {
          statusCode : (() => {
            parsedValue = 200; try {parsedValue = parseInt('{{ status_code|safe }}')} catch(e) {} return parsedValue;
          })(),
          systemConfiguration: (() => {
            parsedValue = {}; try {parsedValue = JSON.parse('{{ system_configuration_encoded|safe|escapejs }}')} catch(e) {} return parsedValue;
          })(),
          sliderItems: (() => {
            parsedValue = []; try {parsedValue = JSON.parse('{{ slider_items_by_page_name_encoded|safe|escapejs }}')} catch(e) {} return parsedValue;
          })(),
        };

        console.log(systemData);
      </script>
      <script src="{% static 'scripts/vendors.'|add:system_configuration.website_version|add:'.js' %}"></script>
      <script src="{% static 'scripts/main.'|add:system_configuration.website_version|add:'.js' %}"></script>
    </body>
</html>