{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

        <!-- Title -->
        <title>{{ page_title }}</title>

        <!-- SEO -->
        <meta name="author" content="Scott Zehner" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <!-- <meta name="robots" content="noindex, nofollow" /> -->

        <!-- Social Media -->
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        
        <!-- CSS/JS/PLUGINS -->
        <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
        <!-- <script src=""></script> -->
    </head>
    <body>
      <h1>Well hello there...</h1>
      <div id="base">{% block content %}{% endblock %}</div>
      <script>
        const systemConfig = JSON.parse('{{ system_config|safe|escapejs }}');
        console.log(systemConfig);
      </script>
    </body>
</html>